/* Alpsan Karademır */
.hm_body{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color:#67b0d3;
}
.hm_row1{
	width:50%;
	margin-left:auto;
	margin-top:2%;
	margin-right:auto;
	background-color:black;
	border:10% solid red;
	border-radius:75px;
	position:sticky;
	top:1%;
}
.hm_nav{


}
#hm_selecter{
	margin-left:auto;
	margin-right:3%;
	float:right;
}
#hm_homepage{
	margin-left:2%;
}
.hm_buttons{
	margin-bottom:3%;
	margin-top:3%;
	text-align:left;
}
#hm_pic1{
	left:0%;
	
}
#hm_pic2{
	right:0%;
}
.hm_pics{
	position:fixed;
	top:0%;
	width:10%;
	height:100%;
}
.hm_row2{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.hm_parag{
	width:40%;
	margin-left:2%;
	margin-right:2%;
	margin-top:10%;
}
.hm_header{
	text-align:center;
}
#hm_para1{
	margin-left:auto;
	margin-right:auto;
}
#hm_para2{
	float:left;
}
#hm_para3{
	float:right;
}
.hm_row3{
	margin-top:40%;
	background-color:black;
	padding-top:5%;
	padding-bottom:5%;
	opacity:0.5;
	padding-left:2%;
	padding-right:2%;
}
.hm_contact{
	color:white;
	opacity:1;
}

/* Darius Joaquim Alvares */











/* Demilade Banwo */